@import url('https://fonts.googleapis.com/css2?family=Jost&family=Scada&display=swap');

:root {
  /* colors */
  --color-primary: #1626b4;
  --color-gray: #DDDDDD;
  --color-secondary: #444444;
  --color-white: #FFFFFF;
  
  /* fonts */
  --font-scada: 'Scada', sans-serif;
  --font-jost: 'Jost', sans-serif;

  --font-mediumBold: 500;
 
}
